
body{
	background-color: orange;
	color: black;
	margin-bottom: 50px;
	/*font-family: 'Fredoka One', cursive;*/
	/*font-size: 20px;*/
	/*align-content: center;*/

};

#blue-donut{
	width: 10%;
	height: auto;
}

h1 {
	font-family: 'Fredoka One', cursive;
	text-align: center;
};

#sticky-footer {
  flex-shrink: 0;
};









