body{
	background-color: pink;
    background-repeat: no-repeat;
    background-size: cover;
	color: black;
	margin-bottom: 50px;
	font-family: 'Raleway', serif;
};

#blue-donut{
	width: 10%;
	height: auto;
}

h1 {
	font-family: 'Fredoka One', cursive;
	text-align: center;
};







