body {
    background-image: url("https://images.unsplash.com/photo-1514517521153-1be72277b32f?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: cover;
};

#blue-donut{
	width: 10%;
	height: auto;
}

h1 {
	font-family: 'Fredoka One', cursive;
	text-align: center;
};

